.map-container{
    height: 600px;
  }

  .footer-direccion{
    line-height: 31px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    font-family: Devanagari;

    span{
        margin: 0 5px;
    }
}