.fondo{
    background-color: #FCFCFC;
    background-image: url('/assets/background.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
    height: 100vh;
}

.content{
    padding-top: 0px;
    padding-bottom: 45px;
    max-width: 250px;
    transform: translate(0,50%);


    margin-left: auto;
    margin-right: auto;

    img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        padding-bottom: 45px;
    }
}

.button-container{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 100%;
    padding: 0px 29px;
}

.label-mondo{    
    font-size: 50px;

    font-family: ftnk;
    font-weight: 300;

    color: #f5f1e7;
    font-style: normal;
    line-height: 28px;
    padding-bottom: 30px;
    padding-top: 5px;
    text-align: center;
    text-transform: none;
}

.label-restaurante{
    font-size: 18px;

    font-family: ftnk;
    font-weight: 300;

    color: #f5f1e7;
    font-style: normal;
    line-height: 28px;
    padding-bottom: 30px;
    padding-top: 5px;
    text-align: center;
    text-transform: none;
}

.button{
    border-radius: 100px;
    color: #111111;
    font-family: arial;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    text-transform: none;
    background-color: white;
    border: none;

    align-items: center;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;

    &:hover{
        color: #111111;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        text-transform: none;
        background-color: rgba(255, 255, 255, 0.75);}
}