.fondo{
    background-image: url(https://image.freepik.com/foto-gratis/marmol-negro-textura-fondo-textura-marmol-tailandia-marmol-natural-abstracto-blanco-negro-diseno_1253-917.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.content{
    padding-top: 6%;
    padding-bottom: 45px;
    max-width: 604px;
    margin: 0 auto;

    img{
        display: block;
        padding-bottom: 60px;
        height: auto;
        width: 100%;
    }


}

.navbar{
    display: flex;
    border-radius: 100px;
    color: white;
    font-family: 'Devanagari';
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    margin-top: 42px;

    justify-content: center;


    .navbar-item-container{  /* margin-left: auto; */
        margin: 0px 34px;
    
        .navbar-item {
            cursor: pointer;
        }
        
    }
}

.label-mondo{    
    font-size: 84px;
    font-family: 'Avenir';
    font-weight: 300;
    color: #f5f1e7;
    font-style: normal;
    text-align: center;
    text-transform: none;
    letter-spacing: 25px;
}


.label-restaurante{
    font-size: 30px;
    font-family: Devanagari;
    font-weight: 300;
    color: #f5f1e7;
    font-style: normal;
    padding-bottom: 30px;
    padding-top: 5px;
    text-align: center;
}
