
.bcg-header{
    background-color: white;
    position: relative;
    z-index: 99999;
}
.header{
    margin-left: auto;
    max-width: 800px;
    padding-top: 60px;
    width: 100%;



    .navbar{
        display:flex;
        .navbar-item-container{
            padding-right: 30px;
            .navbar-item{
                color: #888;
                font-family: helvetica, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                text-transform: uppercase;

                cursor: pointer;
            }

        }
    }
}
