<div class="bcg-header">
    <header class="header">
        <!-- <img src="/assets/header.jpg"> -->

        <div class="navbar">
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Inicio
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api?fullpage_api.moveTo('menus'): goTo('menus')">
                    Menus
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item"  (click)="fullpage_api?fullpage_api.moveTo('bodega'): goTo('bodega')">
                    Bodegas
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item"  (click)="fullpage_api?fullpage_api.moveTo('equipo'): goTo('equipo')">
                    Equipo
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api?fullpage_api.moveTo('reservas'): goTo('reservas')">
                    Reservas
                </span>
            </span>
        </div>
    </header>
</div>