
.container-header{
    z-index: 20;    
    height: 60px;

}
.navbar-logo{
    img{
        width: 50px;
    }
}


.bcg-header{
    background-color: #1e1e1e;
    padding: 1.5em;
    padding-bottom: 1em;

}
.header{
    width: 100%;
    justify-content: flex-end;
    display: flex;

  
    .navbar{
        display:flex;

        .navbar-item-container{
            padding: 0 15px;
            .navbar-item{
                color: whitesmoke;
                font-family: helvetica, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                text-transform: uppercase;

                cursor: pointer;

                a {
                  color: inherit; /* blue colors for links too */
                  text-decoration: inherit; /* no underline */
                }


                
                &.reserva{
                  border-radius: 14px;
                  color: #111111;
                  font-style: normal;
                  font-weight: bold;
                  background-color: white;
                  padding: 10px;
              }
            }

        }
    }

    .navbar-mobile {
        display: none;

        a {
            text-decoration: none;
            color: whitesmoke;
            opacity:1;
            font-family: 'work sans', sans serif;
            font-size: 1.5em;
            font-weight: 400;
            transition: 200ms;
          }
          a:hover {
            opacity:0.5;
          }
          ul {
            padding: 0;
            list-style-type: none;
          }
          

        .menuToggle {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
            
           >span{
              display: flex;
              width: 29px;
              height: 2px;
              margin-bottom: 5px;
              position: relative;
              background: #ffffff;
              border-radius: 3px;
              z-index: 1;
              transform-origin: 5px 0px;
              transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                          opacity 0.55s ease;

           

              &:nth-last-child(2)
              {
                transform-origin: 0% 100%;
              }

              &.activeMenu{
                opacity: 1;
                transform: rotate(45deg) translate(-3px, -1px);
                background: #36383F;

                &:nth-last-child(3){
                  opacity: 0;
                  transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:nth-last-child(2){
                  transform: rotate(-45deg) translate(0, -1px);
                }
     
              }

            }

            .menu{
                position: absolute;
                width: 180px;
                height: 400px;
                box-shadow: 0 0 10px #85888C;
                margin: -50px 0 0 -50px;
                padding: 50px;
                padding-top: 125px;
                background-color: #1e1e1e;
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

                &.activeMenu{
                    transform: none;
                }

                 li{
                    padding: 10px 0;
                    transition-delay: 2s;

                    .navbar-item{
                        text-decoration: none;
                        color: whitesmoke;
                        opacity:1;
                        font-family: 'work sans', sans serif;
                        font-size: 1.5em;
                        font-weight: 400;
                        transition: 200ms;

                        &:hover{
                            opacity:0.5;
                        }

                        &.aviso-legal{
                          text-transform: uppercase;
                        }

                        &.reserva{
                          border-radius: 14px;
                          color: #111111;
                          font-style: normal;
                          font-weight: bold;
                          background-color: white;
                          padding: 10px;
                          font-size: 1.2em;
                          white-space: nowrap;
                      }

                      a {
                        color: inherit; /* blue colors for links too */
                        text-decoration: inherit; /* no underline */
                      }
                    }
                    
                  }
              }


        }
          

    }

}
@media (max-width: 768px) {
    .header{
        justify-content: unset;
        .navbar {
            display: none;
          }
          .navbar-mobile {
              display: block;
            }
    }

  }

.header-separator{
    height: 4px;
    width: 100%;
    background: linear-gradient(
0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);}
