<div class="bcg-header">
    <header class="header">
        <!-- <img src="/assets/header.jpg"> -->

        <div class="navbar">
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Inicio
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('menus')"> 
                    Menus
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('bodega')">
                    Bodegas
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('equipo')">
                    Equipo
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('reservas')">
                    Reservas
                </span>
            </span>
        </div>
    </header>
</div>
