<app-header></app-header>

<div class="aviso-container">
    <h2>AVISO LEGAL</h2>

    <h3>DATOS IDENTIFICATIVOS DEL TITULAR DEL SITIO WEB</h3>
    <p>En cumplimiento del deber de información estipulado en el artículo 10 de la Ley 34/2002 de 11 de julio de
        Servicios de la Sociedad de la Información y de Comercio Electrónico, "Alberto Pascual Escalona" en calidad
        de titular del web site tu nombre de dominio, procede a comunicarles los datos identificativos exigidos por la
        referida norma:</p>

    <p>Denominación social: Alberto Pascual Escalona</p>
    <p>Domicilio social: Calle Ntra. Sra. de la Alegría, 16</p>
    <p>NIF: 732210525F</p>
    <p>Dirección de correo electrónico: direccion@restaurantemondo.com</p>

    <h3>CONDICIONES DE USO</h3>

    <p>La simple y mera utilización de la Página otorga la condición de usuario de la Página, bien sea persona física o
        jurídica, y obligatoriamente implica la aceptación completa, plena y sin reservas de todas y cada una de las
        cláusulas y condiciones generales incluidas en el Aviso Legal. Si el Usuario no estuviera conforme con las
        cláusulas y condiciones de uso de este Aviso Legal, se abstendrá de utilizar la Página. Este Aviso Legal está
        sujeto a cambios y actualizaciones por lo que la versión publicada por "Alberto Pascual Escalona". puede ser
        diferente en cada momento en que el Usuario acceda al Portal. Por tanto, el Usuario debe leer el Aviso Legal en
        todas y cada una de las ocasiones en que acceda a la Página.</p>


    <p>A través de la Página, "Alberto Pascual Escalona" facilita a los Usuarios el acceso y la utilización de diversos
        Contenidos publicados por medio de Internet por "Alberto Pascual Escalona" o por terceros autorizados.</p>

    <p>El Usuario esta obligado y se compromete a utilizar la Página y los Contenidos de conformidad con la legislación
        vigente, el Aviso Legal, y cualquier otro aviso o instrucciones puestos en su conocimiento, bien sea por medio
        de este aviso legal o en cualquier otro lugar dentro de los Contenidos que conforman la Página, así como con las
        normas de convivencia, la moral y buenas costumbres generalmente aceptadas.</p>

    <h3>DISPONIBILIDAD DE LA PÁGINA</h3>
    <p>"Alberto Pascual Escalona" no garantiza la inexistencia de interrupciones o errores en el acceso a la Página, a sus
        Contenidos, ni que éste se encuentren actualizados, aunque desarrollará sus mejores esfuerzos para, en su caso,
        evitarlos, subsanarlos o actualizarlos. Por consiguiente, "Alberto Pascual Escalona" no se responsabiliza de los
        daños o perjuicios de cualquier tipo producidos en el Usuario que traigan causa de fallos o desconexiones en las
        redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del servicio del Portal
        durante la prestación del mismo o con carácter previo.</p>

    <p>"Alberto Pascual Escalona" excluye, con las excepciones contempladas en la legislación vigente, cualquier
        responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad,
        continuidad o calidad del funcionamiento de la Página y de los Contenidos, al no cumplimiento de la expectativa
        de utilidad que los usuarios hubieren podido atribuir a la Página y a los Contenidos.</p>

    <p>La función de los Hiperenlaces que aparecen en esta Web es exclusivamente la de informar al usuario acerca de la
        existencia de otras Web que contienen información sobre la materia. Dichos Hiperenlaces no constituyen
        sugerencia ni recomendación alguna.</p>

    <h3>DISPONIBILIDAD DE LOS CONTENIDOS</h3>
    <p>La prestación del servicio de la Página y de los Contenidos tiene, en principio, duración indefinida, no obstante, queda autorizada para dar por terminada o suspender la prestación del servicio
        de la Página y/o de cualquiera de los Contenidos en cualquier momento.</p>

    <h3>JURISDICCIÓN</h3>
    <p>Para cuantas cuestiones se susciten sobre la interpretación, aplicación y cumplimiento de este Aviso Legal, así
        como de las reclamaciones que puedan derivarse de su uso, todos las partes intervinientes se someten a los
        Jueces y Tribunales de Monzón, renunciando de forma expresa a cualquier otro fuero que pudiera
        corresponderles</p>

</div>
