<app-header></app-header>

<div class="aviso-container">
    <h2>AVISO LEGAL</h2>

    <h3>TITULAR Y RESPONSABLE DEL TRATAMIENTO</h3>
    <p>El titular del tratamiento de datos es D. Alberto Pascual Escalona, con domicilio a efecto del ejercicio de los
        derechos reconocidos en la Ley en Calle Nuestra Señora de la Alegría, 16 LOCAL.:</p>



    <h3>OBJETO Y MODALIDAD DE TRATAMIENTO DE DATOS DE CARÁCTER PERSONAL.</h3>

    <p>La visita a este sitio Web no implica que el Usuario esté obligado a facilitar ninguna información sobre sí
        mismo. En el caso de que el Usuario facilite alguna información de carácter personal y en cumplimiento de lo
        establecido en el Reglamento 2016/679 del Parlamento Europeo y del Consejo del 27 de abril de 2016, todos los
        datos personales facilitados por el Usuario serán objeto de tratamiento automatizado en un FICHERO de
        titularidad de D. Alberto Pascual Escalona.</p>


    <h4>Legitimación para el tratamiento de sus datos personales</h4>
    <ul>
        <li>Para el cumplimiento de un contrato y/o relación comercial.</li>
        <li>Para el cumplimiento de obligaciones legales de distinta índole.</li>
        <li>Por interés legítimo, por ejemplo, por motivos de seguridad o para gestionar las solicitudes, consultas o
            posibles reclamaciones que pudieran surgir.</li>
        <li>Para el envío de ofertas personalizadas para el Usuario.</li>
    </ul>

    <h4>Enlaces a sitios web de terceros</h4>

    <p>En caso de que facilitemos enlaces que redirigen a sitios web de terceros ajenos a D. Alberto Pascual Escalona,
        este último le informará que no dispone de control alguno sobre dichos sitios ni tampoco es responsable por el
        contenido de los mismos. Ante cualquier duda, recomendamos que consulte las respectivas políticas de privacidad
        y uso de dichos sitios web. </p>

    <h4>Derechos del Usuario</h4>

    <p>El ejercicio de los derechos que se detallan a continuación podrá ser realizado en todo momento por el Usuario a
        la siguiente dirección de correo electrónico: dirección@restaurantemondo.com. Por ello, deberá indicar en el
        asunto del mismo el término “PDP” junto con el DNI del interesado.</p>

    <h4>Derecho de acceso a sus datos personales</h4>

    <p>El derecho de acceso admite que pueda dirigirse al responsable del tratamiento para conocer si está tratando o no
        sus datos de carácter personal.</p>

    <h4>Derecho de rectificación de sus datos personales</h4>

    <p>Podrá obtener la rectificación de tus datos personales que sean inexactos.
        En su solicitud deberá indicar a qué datos se refiere y la corrección que hay que realizar. Además, cuando sea
        necesario, deberá acompañar su solicitud de la documentación que justifique la inexactitud o el carácter
        incompleto de tus datos.
    </p>

    <h4>Derecho de oposición al tratamiento de sus datos personales</h4>

    <p>Podrá oponerse en los siguientes supuestos:.</p>
    <ul>
        <li>Cuando sean objeto de tratamiento basado en una misión de interés público o en el interés legítimo,
            incluido la elaboración de perfiles.</li>
        <li>Cuando el tratamiento tenga como finalidad la mercadotecnia directa, incluida también la elaboración de
            perfiles anteriormente citada.</li>
    </ul>

    <h4>Derecho de supresión de sus datos personales</h4>

    <p>Podrá solicitar la supresión de sus datos de carácter personal en los siguientes supuestos:</p>
    <ul>
        <li>Si sus datos personales ya no son necesarios en relación con los fines para los que fueron recogidos.</li>
        <li>Si el tratamiento de sus datos personales se ha basado en el consentimiento que prestó al responsable y
            retira el mismo.</li>
        <li>El tratamiento del responsable se fundamentaba en el interés legítimo o en el cumplimiento de una misión de
            interés público, y ya no existe dicha legitimación..</li>
        <li>A que sus datos personales sean objeto de mercadotecnia, incluyendo la elaboración perfiles relacionada con
            la citada mercadotecnia.</li>
        <li>Si sus datos personales han sido tratados ilícitamente.</li>
    </ul>

    <p>No obstante, puede ser factible no proceder a la supresión por ejemplo cuando el tratamiento sea necesario para
        el ejercicio de la libertad de expresión e información, para el cumplimiento de una obligación legal, por
        razones de interés público, en el ámbito de la salud pública, con fines de archivo de interés público, o para la
        formulación, el ejercicio o la defensa de reclamaciones.</p>

    <h4>El bloqueo de los datos</h4>

    <p>Consiste en la identificación y reserva de los mismos, adoptando medidas técnicas y organizativas, para impedir
        su tratamiento, incluyendo su visualización, excepto para la puesta a disposición de los datos a los jueces y
        tribunales, el Ministerio Fiscal o las Administraciones Públicas competentes, en particular de las autoridades
        de protección de datos, para la exigencia de posibles responsabilidades derivadas del tratamiento y solo por el
        plazo de prescripción de las mismas. </p>

    <p>Transcurrido ese plazo deberá procederse a la destrucción de los datos.</p>

    <h4>Derecho a la limitación del tratamiento de sus datos personales</h4>
    <p>Puede ejercitarlo de dos maneras:</p>

    <!-- <p> (A) Puede solicitar la suspensión del tratamiento de sus datos:
    <ul>
        <li>Cuando impugne la exactitud de sus datos personales</li>
        <li>Cuando se haya opuesto al tratamiento de sus datos personales</li>
    </ul>
    </p> -->





</div>