<app-header></app-header>


<div class="section-bodega">
    <div class="filter-wine">

        <div class="image-card" [ngClass]="{'active': categoria_seleccionada ==='rosado' }"
            (click)="selecionarCategoria('rosado')" style="background-image: url('https://imagedelivery.net/1GfiUCLuE0IvIYJNPrCMZg/f2c5e875-2978-42f8-069d-1a8da8833c00/public');"></div>
        <div class="image-card" [ngClass]="{'active': categoria_seleccionada ==='tinto' }" (click)="selecionarCategoria('tinto')" 
            style="background-image: url('https://imagedelivery.net/1GfiUCLuE0IvIYJNPrCMZg/38e2165f-25b8-4ca5-a65e-25f048c72400/public');"></div>
        <div class="image-card" [ngClass]="{'active': categoria_seleccionada ==='blanco' }" (click)="selecionarCategoria('blanco')"
            style="background-image: url('https://imagedelivery.net/1GfiUCLuE0IvIYJNPrCMZg/c562e276-9e13-47de-16a9-391f9f3f3300/public');"></div>



    </div>

    <div class="card-list">
        <div class="animate__animated animate__backInLeft animate__slow" *ngFor="let vino of vinos[categoria_seleccionada]">
            <app-bodega-card [datosVino]="vino"></app-bodega-card>
        </div>
    </div>
</div>

<app-footer></app-footer>