<app-header></app-header>



<div class="section-bodega">
    <div class="filter-wine">

        <div class="image-card" [ngClass]="{'active': categoria_seleccionada ==='rosado' }"
            (click)="selecionarCategoria('rosado')" style="background-image: url('/assets/rosado.jpg');"></div>
        <div class="image-card" [ngClass]="{'active': categoria_seleccionada ==='tinto' }" (click)="selecionarCategoria('tinto')" 
            style="background-image: url('/assets/tinto.jpeg');"></div>
        <div class="image-card" [ngClass]="{'active': categoria_seleccionada ==='blanco' }" (click)="selecionarCategoria('blanco')"
            style="background-image: url('/assets/blanco.jpg');"></div>



    </div>

    <div class="card-list">
        <div class="animate__animated animate__backInLeft animate__slow" *ngFor="let vino of vinos[categoria_seleccionada]">
            <app-bodega-card [datosVino]="vino"></app-bodega-card>
        </div>
    </div>
</div>

<app-footer></app-footer>