.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-wine{
    display: flex;
    justify-content: center;
    .image-card{
        width: 230px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 270px;
        margin: 49px;
        cursor: pointer;

        &.active{
            box-shadow: 0px 12px 22px 1px #333;
            zoom: 1.05;

            animation: pulse; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 2s; /* don't forget to set a duration! */
        }
    }

    .info-card{
        margin-right: 5px
    }
}