<div class="card">
   <div class="image-card" style="background-image: url('/assets/bodega/{{vino.imagen}}');"></div>

 <div>
    <p class="title"> {{vino.nombre}}</p>

     <div>
        Grado Alcohólico: {{vino.grado}}%
     </div>
     <div>
        Variedades: {{vino.variedades}}
     </div>
     <div>
        Temperatura de servicio: {{vino.temperatura}}ºC
     </div>
     <div>
        Precio por unidad: {{vino.precio}}€
     </div>
     <div>
        Maridaje: {{vino.maridaje}}
     </div>
 </div>
    
</div>