<div class="card">
   <div class="image-card" style="background-image: url('/assets/bodega/{{datosVino.imagen}}');"></div>

 <div>
    <p class="title"> {{datosVino.nombre}}</p>

     <div>
        Grado Alcohólico: {{datosVino.grado}}%
     </div>
     <div>
        Variedades: {{datosVino.variedades}}
     </div>
     <div>
        Temperatura de servicio: {{datosVino.temperatura}}ºC
     </div>
     <div>
        Precio por unidad: {{datosVino.precio}}€
     </div>
     <div>
        Maridaje: {{datosVino.maridaje}}
     </div>
 </div>
    
</div>