.card{
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    background-color: #fff;

    margin: 1.5rem;
    padding: 10px;

    height: 12rem;
    width: 31rem;

    @media (max-width: 768px) {
        height: unset;
        width: unset;
    }

    .image-card{
        background-size: contain;
        height: auto;
        width: 7rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .info-card{
        text-align: justify;
        display: grid;

        .title{
            font-size: 1.3rem;
            font-weight: 700;
        }
    }


}