app-header {
    position: fixed;
    width: 100%;
    z-index: 20;
}

.fullpage-wrapper{
    background-color: black;
}

.section-bodega{
    display: flex;
    height: 100%;

    @media (max-width: 768px) {
        display: grid;
    }

    .page-bodega{
        width: 100%;
        cursor: pointer;


        .image-container{
            width: 100%;
            height: 100%;

            .image-card{
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: 102% 100%;


                &.tinto{
                    background-image: url('/assets/portada/vino_tinto.jpg');

                    @media (max-width: 768px) {
                        background-image: url('/assets/portada/vino_tinto_movil.jpg');
                    }
                }

                &.blanco{
                    background-image: url('/assets/portada/vino_blanco.jpg');

                    @media (max-width: 768px) {
                        background-image: url('/assets/portada/vino_blanco_movil.jpg');
                    }
                }

                &.rosado{
                    background-image: url('/assets/portada/vino_rosado.jpg');

                    @media (max-width: 768px) {
                        background-image: url('/assets/portada/vino_rosado_movil.jpg');
                    }
                }

            }
        }
    }
}

.page-menus{
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;

    &.reservas{
        position: relative;
        // height: 90%;
        // height: calc(100% - 97px)
        app-footer{
            position: absolute;
            bottom: 0;
            width: 100%
        }
    }
}



.maps-label{

    display: flex;
    background: black;

    .map-container{
        height: calc(100vh - 177px);
        width: 70%;
      }
    
      .footer-direccion{
        line-height: 31px;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        font-family: Devanagari;
    
        span{
            margin: 0 5px;
        }
    }
}


.image-container{
    margin-left: auto;
    margin-right: auto;

    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;

   
    .img{
        display: block;
        width: 100%;
        height: 100%;
        /* max-width: 100%; */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;


        &:hover{
           cursor: pointer;
        }
    }


    .image-label{
        position: absolute;
        bottom: 0;
        left: 0;
        background: black;
        color: white;
        font-family: sans-serif;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;
    }

    &:hover .image-label{
        width: 100%;
        height: 100%;
        visibility: visible;
        opacity: 0.7; 
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .label{
        font-size: 30px;
    }

}

