<div class="bcg-header">
    <header class="header">
        <!-- <img src="/assets/header.jpg"> -->

        <div class="navbar">
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Inicio
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Menus
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Bodegas
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Equipo
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Reservas
                </span>
            </span>
        </div>
    </header>
</div>


<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <!-- <img src="/assets/menus.jpg"> -->
                <div class="img" style="background-image: url('/assets/menus.jpg');"></div>
                <div class="image-label">
                    <div class="label"> Image 1 Text</div>

                </div>
            </div>
        </div>

    </div>
    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <img src="/assets/header.jpg">
                <div class="image-label">
                    <div class="label"> Image 2 Text</div>
                </div>
            </div>
        </div>

        <div class="page-menus">
            <div class="image-container">
                <img src="/assets/header.jpg">
                <div class="image-label">
                    <div class="label"> Image 2 Text</div>
                </div>
            </div>
        </div>

        <div class="page-menus">
            <div class="image-container">
                <img src="/assets/header.jpg">
                <div class="image-label">
                    <div class="label"> Image 2 Text</div>
                </div>
            </div>
        </div>

    </div>
    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <div class="img" style="background-image: url('/assets/menus.jpg');"></div>
                <div class="image-label">
                    <div class="label"> Image 2 Text</div>

                </div>
            </div>
        </div>
    </div>
</div>