<app-header [fullpage_api]="fullpage_api"></app-header>

<div fullpage id="fullpage2" class="fullpage-wrapper" [options]="config" (ref)="getRef($event)">
    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <!-- <img src="/assets/menus.jpg"> -->
                <div class="img" style="background-image: url('/assets/portada/menu.jpg');"></div>
                <div class="cards-menu-container">
                    <div class="cards-menu">
                        <app-menus-card class="card-menu" label="Primeros platos" [info]="primeros"></app-menus-card>
                        <app-menus-card class="card-menu" label="Segundos platos" [info]="segundos"></app-menus-card>
                        <app-menus-card class="card-menu" label="Postres" [info]="postres"></app-menus-card>
                    </div>


                    <!-- <div class="label">Menus</div> -->

                </div>
            </div>
        </div>

    </div>
    <div class="section">

        <div class="section-bodega">

            <div class="page-bodega">
                <div class="image-container" [routerLink]="['/bodega']">
                    <div class="image-card rosado"></div>
                    <!-- <img src="/assets/tinto.jpeg"> -->
                    <div class="image-label">
                        <div class="label">Rosado</div>
                    </div>
                </div>
            </div>

            <div class="page-bodega">
                <div class="image-container" [routerLink]="['/bodega']">
                    <div class="image-card tinto"></div>
                    <div class="image-label">
                        <div class="label"> Tinto</div>
                    </div>
                </div>
            </div>

            <div class="page-bodega">
                <div class="image-container" [routerLink]="['/bodega']">
                    <div class="image-card blanco"></div>
                    <div class="image-label">
                        <div class="label"> Blanco</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <div class="img" style="background-image: url('/assets/equipo.png');"></div>
                <div class="image-label">
                    <div class="label">Equipo</div>

                </div>
            </div>
        </div>
    </div> -->


    <div class="section">
        <div class="page-menus reservas">


            <div class="maps-label">
                <div class="map-container">
                    <google-map [width]="'100%'" [height]="'100%'" [options]="options">
                        <map-marker [position]="marker.position"></map-marker>
                    </google-map>
                </div>
                <!-- <div class="map-text">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."
                </div> -->

            </div>
            <app-footer></app-footer>

        </div>
    </div>
</div>