<div class="bcg-header">
    <header class="header">
        <!-- <img src="/assets/header.jpg"> -->

        <div class="navbar">
            <span class="navbar-item-container">
                <span class="navbar-item">
                    Inicio
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('menus')"> 
                    Menus
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('bodega')">
                    Bodegas
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('equipo')">
                    Equipo
                </span>
            </span>
            <span class="navbar-item-container">
                <span class="navbar-item" (click)="fullpage_api.moveTo('reservas')">
                    Reservas
                </span>
            </span>
        </div>
    </header>
</div>


<div fullpage id="fullpage2" [options]="config" (ref)="getRef($event)">
    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <!-- <img src="/assets/menus.jpg"> -->
                <div class="img" style="background-image: url('/assets/menus.jpg');"></div>
                <div class="image-label">
                    <div class="label">Menus</div>

                </div>
            </div>
        </div>

    </div>
    <div class="section">

        <div class="section-bodega">

        <div class="page-bodega">
            <div class="image-container">
                <div class="image-card" style="background-image: url('/assets/rosado.jpg');"></div>
                <!-- <img src="/assets/tinto.jpeg"> -->
                <div class="image-label">
                    <div class="label">Rosado</div>
                </div>
            </div>
        </div>

        <div class="page-bodega">
            <div class="image-container">
                <div class="image-card" style="background-image: url('/assets/tinto.jpeg');"></div>
                <div class="image-label">
                    <div class="label"> Tinto</div>
                </div>
            </div>
        </div>

        <div class="page-bodega">
            <div class="image-container">
                <div class="image-card" style="background-image: url('/assets/blanco.jpg');"></div>
                <div class="image-label">
                    <div class="label"> Blanco</div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <div class="img" style="background-image: url('/assets/equipo.png');"></div>
                <div class="image-label">
                    <div class="label">Equipo</div>

                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="page-menus">
            <div class="image-container">
                <div class="img" style="background-image: url('/assets/menus.jpg');"></div>
                <div class="image-label">
                    <div class="label">Reservas</div>

                </div>
            </div>
        </div>
    </div>
</div>